KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="42850000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="42850000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="42850000.mmc", SYMLINK+="emmc-part%n"
ACTION=="add|change", ATTRS{iomem_base}=="0x44390000", SYMLINK+="smarc-ser0"
ACTION=="add|change", ATTRS{iomem_base}=="0x44380000", SYMLINK+="smarc-ser1"
ACTION=="add|change", ATTRS{iomem_base}=="0x425a0000", SYMLINK+="smarc-ser2"
ACTION=="add|change", ATTRS{iomem_base}=="0x42570000", SYMLINK+="smarc-ser3"
