KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="30b60000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="30b60000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="30b60000.mmc", SYMLINK+="emmc-part%n"
ACTION=="add|change", ATTRS{iomem_base}=="0x30860000", SYMLINK+="smarc-ser0"
ACTION=="add|change", ATTRS{iomem_base}=="0x30A60000", SYMLINK+="smarc-ser1"
ACTION=="add|change", ATTRS{iomem_base}=="0x30890000", SYMLINK+="smarc-ser2"
ACTION=="add|change", ATTRS{iomem_base}=="0x30880000", SYMLINK+="smarc-ser3"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="30a20000.i2c", SYMLINK+="som-i2c-ctrl"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="30a30000.i2c", SYMLINK+="smarc-i2c-lcd"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="30a40000.i2c", SYMLINK+="smarc-i2c-cam0"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="30a50000.i2c", SYMLINK+="smarc-i2c-gp"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="30ad0000.i2c", SYMLINK+="smarc-i2c-cam1"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="30ae0000.i2c", SYMLINK+="smarc-i2c-pm"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="DesignWare HDMI", SYMLINK+="smarc-hdmi-ctrl"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="30820000.spi", SYMLINK+="smarc-spi0-cs%n"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="30830000.spi", SYMLINK+="smarc-spi1-cs%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="30b50000.mmc", SYMLINK+="smarc-sdio"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="30b50000.mmc", SYMLINK+="smarc-sdio-part%n"
