ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="42540000.i2c", SYMLINK+="verdin-i2c1"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="42530000.i2c", SYMLINK+="verdin-i2c2"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="42520000.i3c-master", SYMLINK+="verdin-i2c3"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="426b0000.i2c", SYMLINK+="verdin-i2c4"
ACTION=="add|change", KERNEL=="i2c-[0-9]*", ATTR{name}=="44350000.i2c", SYMLINK+="verdin-i2c-on-module"
ACTION=="add|change", ATTRS{iomem_base}=="0x42690010", SYMLINK+="verdin-uart1"
ACTION=="add|change", ATTRS{iomem_base}=="0x426A0010", SYMLINK+="verdin-uart2"
ACTION=="add|change", ATTRS{iomem_base}=="0x44380010", SYMLINK+="verdin-uart3"
ACTION=="add|change", ATTRS{iomem_base}=="0x44390010", SYMLINK+="verdin-uart4"
ACTION=="add|change", KERNELS=="watchdog", SYMLINK+="verdin-watchdog"
ACTION=="add|change", SUBSYSTEM=="watchdog", KERNELS=="soc*", SYMLINK+="verdin-watchdog-soc"
ACTION=="add|change", SUBSYSTEM=="spidev", KERNELS=="42700000.*spi", SYMLINK+="verdin-spi-cs%n"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="42850000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="42850000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="42850000.mmc", SYMLINK+="emmc-part%n"
SUBSYSTEM=="iio", KERNELS=="iio:device0", RUN+="/etc/udev/scripts/toradex-adc.sh"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="42860000.mmc", SYMLINK+="verdin-sd"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="42860000.mmc", SYMLINK+="verdin-sd-part%n"
